#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.box {
    height: 200px;
}

#box1 {
    background-color: pink;
}

#box2 {
    background-color: aquamarine;
}

#box3 {
    background-color: chocolate;
}

#box4 {
    background-color: hotpink;
}

#box5 {
    background-color: honeydew;
}

#box6 {
    background-color: blueviolet;
}